



  .body{
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
    margin-left: -15px;
  }
  .wrapper {
    width: 100%;
  
    height: auto;
    min-height: 100vh;
    
    
   
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
    
    display: flex;
    justify-content: center;
    
 
  
  }
 .section1{
   height: auto;
    min-height: 500px;
    align-self: center;
    width: 700px;
    background-color: white;
    border-radius: 5px;
   
  
 }
 @media(max-width:800px){

    .section1{
        height: auto;
        min-height: 500px;
        width: 400px;
    }
 }
 .bris{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
 }
      .shiv {
      
        width: 100%;
        
       
      }
  
    
  
      .names {
        font-weight: bold;
        font-size: 24px;
        color: #6944ff;
        margin-bottom: 15px;
        text-align: center;
        margin-top: -100px;
      }
      .cate{
        font-size: 18px;
    font-weight: bold;
    color: #324e63;
    margin-bottom: 15px;
        text-align: center;

      }
      .add{
        font-size: 18px;
        font-weight: 500;
        color:gray;
        margin-bottom: 15px;
        text-align: center;
      }
      .btns{
          display: flex;
          justify-content: center;
      }
      .adds{
        font-size: 25px;
        font-weight: bold;
        color:black;
        margin-bottom: 15px;
        text-align: center;
      }